body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: white;
  max-width: 550px;
  border: 4px solid #3d32d2;
  border-radius: 10px;
  margin-bottom: 8px;
  box-shadow: 0px 0px 5px black;
  font-family: 'Lumanosimo', cursive;
  text-decoration: overline;
}

.header > img {
  margin: 4px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  background: #e1dede;
  padding: 30px;
  height: 100vh;
}

.todo-list{
  background: #3d32d2;
  border-radius: 10px;
  padding: 5px;
  max-width: 550px;
  border: 4px solid #3d32d2;
  box-shadow: 0px 0px 5px black;
}

.todo{
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.15);
  padding: 3px 10px;
  font-size: 20px;
  margin-bottom: 6px;
  border-radius: 8px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #494949;
}

.input{
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 8px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25em;
  font-size: 24px;
}
